<% provide(:title, "Forgot Password")%>
<div class="medium-6 medium-centered">
    <h1>Forgot Password</h1>
    <%= form_for(:password_reset, url: password_resets_path) do |f| %>
        <%= f.label :email %>
        <%= f.email_field :email %>

        <%= f.submit "Submit", class: "button" %>
    <% end %>
</div>
