<p>Hi <%= @user.first_name %></p>
<p>Welcome to the Project Tracking and Monitoring Tool.
Click the link below to activate your account:i</p>
<p><%=link_to "Activate", edit_account_activation_url(@user.activation_token, email: @user.email, lec_email: @user.email) %></p>
