<% provide(:title, "Users")%>
<div class="medium-12">
    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
            </tr>
        </thead>
        <% @users.each do |user| %>
            <tr>
                <td> <%= user.id %></td>
                <td> <%= user.first_name %></td>
            </tr>
        <% end %>
    </table>

</div>
