<%= form_for(@message) do |f| %>
    <%= render 'shared/error_messages', object: f.object %>
    <div class="field">
        <%= f.text_field :content, placeholder: "Compose new message..." %>
    </div>
    <%= f.submit "Submit", class: "button" %>
<% end %>
