<% provide(:title, "Help")%>
<div class="row">
<h3><strong>Welcome to the Help Center</strong></h3>
<h4>1. The Student</h4>
<p>The use the app the student must first register with required details being the first
and last name, registration number, email, gender and department</p>
<p>the student is able to submit a project after which the project is either approved or
rejected.</p>
<h5>Project submission</h5>
<p>Here as a student you are required to submit your project title. In your profile there
is the submit link where you submit your project</p>
<p>After submission you will be notified on your email is it was approved or rejected</p>
<p>If approved then you will be assigned a supervisor for your project</p>
<p>If project is approved, student is assigned supervisor by the Admin</p>
<h6>Supervisor communication</h6>
<p>After you have been assigned a supervisor you can now send a message to your supervisor
and even attach an image to your message including screenshots</p>
<h4>2. The lecturer</h4>
<p>The details required to use the system include first and last names and email </p>
<p>The lecturer is assigned a student after which lecturer can communicate with student</p>
<h4>3. The Admin</h4>
<p>This is the individual with special authority in the system. He can approve or reject project,
assigns students supervisor, rejects projects and also can remove users from the system</p>
</div>
