<% provide(:title, 'Home') %>
<div id="sect">
    <div class="pagedata">
        <h1>Project Tracking and Monitoring Tool</h1>
        <% unless current_user  %>
            <div class="button1">
            <%= link_to "Signup", new_user_path %>
            </div>
        <% end %>
    </div>
</div>
