<% provide(:title, "Projects")%>
<div class="medium-12">
    <div class="medium-6">
        <table>
            <h2>Projects Submitted</h2>
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Project</th>
                </tr>
            </thead>
            <% @submitted.each do |submitted| %>
                <tr>
                    <td> <%= submitted.id %></td>
                    <td> <%= submitted.title %></td>
                    <td> <%= link_to "approve", approve_path(id: submitted.id, status: "approved" ) %></td>
                </tr>
            <% end %>
        </table>
    </div>

    <div class="medium-6">
    </div>

</div>
