<% provide(:title, @project.title)%>
<div class="row">
    <table>
        <tr>
            <td><th>Title:</th></td>
            <td> <%= @project.title %> </td>
        </tr>
    </table>
    <p><strong>Description</strong></p>
    <%= @project.description %>
</div>
