#error_message {
    color: red;
    ul {
        color: red;
        margin: 0 0 30px 0;
    }
}

.field_with_errors input {
    border: 2px solid red !important;
    }

    // ::placeholder {
    //     font-weight: bold;
    // }
.button1, .button2 {
    font-size: 24px;
    border-radius: 10px;
    background-color: #1D2258;
    color: white;
    width: 300px;
    padding: 10px;
    

}
    .button1:hover {
        background-color: #2c3843;
    }
#messages {
    color: white;
    margin-bottom: 0;
}
#messages.alert {
    background-color: #ff2700;
}
#messages.success {
    background-color: #00cc49;
}
#messages.info {
    background-color: blue;
}
#messages.warning {
    background-color: red;
}
#messages.danger {
    background-color: red;
}

.sticky-container {
    background-color: #2C3846;
}

#messages {
    .close-button {
        padding-left: 0;
         
    }
}
.timestamp {
    color: gray;
    display: block;
    // margin-left: 60px;
}
// .top-bar {
//      background-color: #2C3846;
//      a {
//          color: white;
//          border: 4px solid #2C3846;
//          transition: border-bottom 1s;
//          &:hover, &focus {
//               color: #153;
//               color: white;
//               border-bottom: #3ADB76 solid 4px;
//          }
//      }
//      ul {
//           background-color: inherit;
//      }
// }
