// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import 'mixin';
#sect {
    background-image: image-url('home.jpeg');
    background-attachment: fixed;
    position: relative;
    height: 100%;

    .pagedata {
        color: white;
        @include center-text(-50%, -50%);
        bottom: 10em;
    }

    h1{
        font-weight: bold;
        font-family: Obitron;
        font-size: 3em;
    }
    .button1 {
        margin: 0px auto 0px auto;
        
    }
}
#footer {
     color: white;
     background-color: #0f0f0f;
     text-align: center;
     padding-top: 10px;
     padding-bottom: 5px;

     .prg {
          line-height: 5.5px;
     }
}
