<% provide(:title, "Lecturers")%>
<div class="row">
    <div class="medium-12 columns">
        <table>
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                </tr>
            </thead>
            <% @lecturers.each do |lec|%>
                <tbody>
                    <tr>
                        <td> <%= lec.id %></td>
                        <td> <%= link_to lec.first_name, lec %></td>
                    </tr>
                </tbody>
            <% end %>
        </table>
    </div>
</div>
