<% flash.each do |flash_type, message| %> 
    <div id="messages" class="callout <%= flash_type %>" >
        <%= message %>
        <div class="close-button">
        <a href="#" class="close">&times;</a>
        </div>
    </div>
<% end %>
